* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background: #eef2f7;
    color: #1f2937;
}

.app {
    width: 100%;
    max-width: 700px;
    min-height: 100vh;
    margin: auto;
    background: white;
}

/* HEADER */

.header {
    background: #2563eb;
    color: white;
    text-align: center;
    padding: 30px 20px;
}

.header h1 {
    font-size: 48px;
    margin-bottom: 5px;
}

.header p {
    font-size: 18px;
}

.header small {
    display: block;
    margin-top: 8px;
    opacity: 0.9;
}


/* MAIN */

main {
    padding: 25px;
}

.screen {
    text-align: center;
}

.hidden {
    display: none;
}


/* HOME */

.screen h2 {
    margin-bottom: 15px;
}

.screen > p {
    margin-bottom: 20px;
    line-height: 1.5;
}

input {
    width: 100%;
    padding: 15px;
    margin: 15px 0;
    border: 1px solid #d1d5db;
    border-radius: 8px;
    font-size: 16px;
}


/* BUTTONS */

button {
    width: 100%;
    padding: 15px;
    margin-top: 12px;
    border: none;
    border-radius: 8px;

    background: #2563eb;
    color: white;

    font-size: 16px;
    font-weight: bold;

    cursor: pointer;
}

button:hover {
    background: #1d4ed8;
}

button.secondary {
    background: #475569;
}

button.secondary:hover {
    background: #334155;
}


/* MENU */

.menu {
    margin-top: 25px;
}


/* QUIZ */

.quizTop {
    display: flex;
    justify-content: space-between;

    margin-bottom: 15px;

    font-weight: bold;
    color: #2563eb;
}


/* PROGRESS BAR */

.progressBar {
    width: 100%;
    height: 8px;

    background: #e5e7eb;

    border-radius: 10px;

    margin-bottom: 30px;
}

#progressFill {
    height: 100%;
    width: 0%;

    background: #2563eb;

    border-radius: 10px;

    transition: width 0.3s;
}


/* QUESTION */

#questionText {
    margin-bottom: 25px;
    line-height: 1.5;
}


/* ANSWERS */

.choice {
    background: #f1f5f9;
    color: #1f2937;

    text-align: left;

    border: 2px solid transparent;
}

.choice:hover {
    background: #dbeafe;
}

.choice.selected {
    background: #dbeafe;
    border-color: #2563eb;
}


/* SCORE */

.scoreCard {
    background: #eff6ff;

    border-radius: 12px;

    padding: 30px;

    margin: 25px 0;
}

.scoreCard p {
    margin-bottom: 10px;
}

#finalScore {
    font-size: 42px;
    color: #2563eb;
}

#percentage {
    font-size: 20px;
    font-weight: bold;
}


/* PROGRESS */

.progressItem {
    background: #f8fafc;

    border-left: 5px solid #2563eb;

    padding: 15px;

    margin: 12px 0;

    text-align: left;

    border-radius: 5px;
}


/* FOOTER */

footer {
    text-align: center;

    padding: 25px;

    color: #64748b;

    font-size: 13px;

    border-top: 1px solid #e5e7eb;
}
